/* CORE */

body {
    margin: 15px;
}
body, td, th, input, textarea {
    font-family: Arial, sans-serif;
    direction: ltr;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    padding: 5px;
    margin: 0;
}

div.menu {
    border: 2px solid #EBEFF9;
    border-width: 0 2px 0 0;
    min-height: 500px;
}

li.selected {
    background-color: #EBEFF9;
    font-weight: bold;
}

#header-bar {
    border-top: 1px solid #c0c0c0;
    margin-bottom: 15px;
}
#footer-bar {
    border-top: 1px solid #c0c0c0;
    margin-top: 15px;
}
div.content {
    margin: 0 10px 10px 10px;
    height: 1000px;
    border: 2px solid #EBEFF9;
    border-width: 0 2px 0 2px;
    min-height: 500px;
}
div.body {
    margin: 10px;
}

h2 {
    background-color: #EBEFF9;
    padding: 5px;
    margin: 0;
}

input[type=text] {
    width: 100%;
}

table tr td.first {
    padding-right: 15px;
}
form div.outline {

    border: 1px solid #DDD;
    display: inline-block;
}
form div.body {
    padding: 10px;
}
form h3 {
    background-color: #DDD;
    margin: 0;
    padding: 5px;
}